body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #d5eff3;
}

.changeBgColor {
	background-color: yellow;
}

.counter {
	margin-top: 25px;
}

.page-header {
	padding: 25px 0 25px 20px;
}

.list-group-item {
	background: #e7f0f1;
	border: 1px solid #22bbcc;
	width: 70%;
}

.left {
	margin: 8px 20px;
}

.float-right {
	margin-right: 15px;
}
